body {
  margin: 0;
  padding: 0;
}


#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

#video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.left-section {
  width: 100%;
  max-width: 400px;
  margin: 50px;
  background-color: rgb(80 144 103 / 46%);
  border-radius: 30px;
  padding: 10px;
  text-align: center;
}

.right-section {
  width: 100%;
  max-width: 200px;
  margin: 50px;
  background-color: #ebfdd2f0;
  border-radius: 30px;
  padding: 10px 60px 70px;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    flex-wrap: nowrap;
  }
}

.login-form h2 {
  font-size: 50px;
  margin-bottom: 40px;
  color: rgb(118 191 66 / 150%);
  position: relative;
}

.right-section h2::after {
  content: '';
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: rgb(118 191 66 / 150%);
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.form-item i {
  color: black;
}

.input-text {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 40px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.error-message {
  display: none;
  color: red;
  margin-top: 1px;
  margin-bottom: 4px;
}

.login-form button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button[type="submit"]:hover {
  background-color: #45a049;
}

header {
  background-color: rgb(118 191 66 / 150%);
  padding-left: 12px;
}

.logo img {
  height: 70px;
}

.popup-message {
  position: fixed;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: none;
}

.show-popup {
  display: block;
}

.wordCarousel {
  font-size: 36px;
  font-weight: 100;
  color: #eee;
  float: center;

}

.wordCarousel span{
    font-weight: bold;
}
.wordCarousel div {
  overflow: hidden;
  position: relative;
  height: 65px;
  padding-top: 10px;
  margin-top: 10px;
}

.wordCarousel li {
  font-family: Serif;
  color: rgb(118 191 66 / 150%);
  font-weight: 700;
  padding: 0 10px;
  height: 45px;
  margin-bottom: 45px;
  display: block;
}

.flip2 {
  animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip3 {
  animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip4 {
  animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip5 {
  animation: flip5 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -180px;
  }
}

@keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -360px;
  }
}

@keyframes flip5 {
  0% {
    margin-top: -450px;
  }
  5% {
    margin-top: -360px;
  }
  20% {
    margin-top: -360px;
  }
  25% {
    margin-top: -270px;
  }
  40% {
    margin-top: -270px;
  }
  45% {
    margin-top: -180px;
  }
  60% {
    margin-top: -180px;
  }
  65% {
    margin-top: -90px;
  }
  80% {
    margin-top: -90px;
  }
  85% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -450px;
  }
}

